{% extends "homepage.html" %}
 {% block content %}

 <section class="book" id="book">

   <div class="row">

       <div class="image">
           <img src="{{ url_for('static', filename='image/book-img.svg') }}" alt="">
       </div>
       <form action="" method="post" name="Login" id="caf">
         {{ form.hidden_tag() }}
            <h3>change password</h3>

            <div class= "boxLogin">
               <p class = "boxText"><input placeholder="User Email">{{ form.userEmail}}</p>
            </div>
            <div class= "boxLogin">
               <p class = "boxText"><input placeholder="Current Password">{{ form.userCurrentPwd}}</p>
            </div>
            <div class= "boxLogin">
               <p class = "boxText"><input placeholder="New Password">{{ form.userNewPwd}}</p>
            </div>
            <div class= "boxLogin">
               <p class = "boxText"><input placeholder="Verify Password">{{ form.userVerifyNewPassword}}</p>
            </div>
         <input type="submit" class="btn" value="Change Passsword" >
         <!-- <p class ="loginText"> Already Have an account? <a href="/login">Login</a></p> -->
       </form>
   </div>

</section>
{% endblock %} 
